@font-face{

	font-family: 'Roboto-Thin', sans-serif;
	src: url('fonts/Roboto/Roboto-Thin.ttf') format('truetype');

	font-family: 'Roboto-Regular', sans-serif;
	src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');

	font-family: 'Roboto-Bold', sans-serif;
	src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

h1.title{

	display:none;
}

h1#how_title{

	font-family: 'Roboto-Thin', sans-serif;
	color: #b6c644;
	font-size: 2em;
}

h2.motivated{

	font-family: 'Roboto-Thin', sans-serif;
	color: #b6c644;
	font-size: 2em;
}

h2.open, a.french_speak{

	font-size: 2em;
}

li.solutions{

	list-style: none;
	font-size: 1.5em;
	font-family: 'Roboto-Thin', sans-serif;
}

a.mail{

	font-family: 'Roboto-Regular', sans-serif;
	color: #7fb8b7;
	text-decoration:underline;
	vertical-align: top;
}

a.email_us{

	color: #FFFFFF;
	font-size: 1.5em;
	background-color: #7fb8b7;
	padding: 7px 2em;
	margin-left: 1.5em;
}

a.interested:hover{

	color: #FFFFFF;
}

div.work{

	padding: 1em 0 0 0;
}

div.how_it_block{

	padding-left: 3em;
}

div.mot{

	padding: 1em 0 1.5em 2.5em;
}

div.add_me{

	padding: 1.5em 0 0 1.5em;
}

ul#work_ul{

	font-family: 'Roboto-Thin', sans-serif;
	font-size: 1.2em;
}

li{

	vertical-align: top;
}

li.m1{

	list-style: none !important;
	background: url("../images/bullets/group.png") no-repeat 32px 32px;
	padding-left: 2.7em;
	background-position: left top;
	margin-left: -1.3em !important;
} 

li.m2{

	list-style: none !important;
	background: url("../images/bullets/email.png") no-repeat 32px 32px;
	padding-left: 2.7em;
	background-position: left top;
	margin-left: -1.3em !important;
}

li.m3{

	list-style: none !important;
	background: url("../images/bullets/news.png") no-repeat 32px 32px;
	padding-left: 2.7em;
	background-position: left top;
	margin-left: -1.3em !important;
}

li.m4{

	list-style-image: url("../images/bullets/mood.png");
}